<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link href="../bootstrap.css" rel="stylesheet">
        <link href="../bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>

        <div class="background row-fluid">
            <div class="span12">
                <!-- show_demo -->
                <div class="hh">title_showdemo</div>
                <div class="row-fluid">
                    <div class="span12">
                        <!-- title -->
                        <div class="title">TEXT</div>
                        <div class="row-fluid">
                            <div class="span10">
                            <!-- textarea -->
                                <textarea class="span12 inputarea" id="content" ng-model="InputComments" placeholder="Enter text to be analyzed..."></textarea>
                            <div class="row-fluid">
                                <div class="span2">
                                    <!-- demo -->
                                    <select id="uiSel" class="span12 dropbtn button button-glow button-border button-rounded button-primary" ng-model="selectDemo" ng-options="x for (x,y) in demos" ng-change=updateSelected()>
                                        <option value="">Demo</option>
                                    </select>
                                </div>
                                <div ng-repeat="cat in TarSenPol"> {{cat.term}}</div>
                                <!-- <div ng-repeat="cat in CatSenPol"> {{cat.polarity}}-{{cat.term}}</div> -->

                                
                            </div>
                            </div>
                            <div class="span2">
                                <!-- analyze button -->
                                <a class="span12 button button-3d button-primary button-rounded analyze_button" ng-click="displayTarget(InputComments)">
                                    ANALYZE
                                </a>

                            </div>
                            <!-- <textarea>{{selectDemo.comments}}</textarea> -->        
        
        
        

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>



        <container>
        <nav>
            <div class="background" id="target" ng-if="showTarget">
                <div class="title">TARGETS</div>
                <div class="card"  ng-repeat="Obj in UniqueTargetList track by $index">
                    <!-- <a  data-ng-click="ShowId($event)"> -->
                    <div class="card-body card-target" type="button" data-ng-click="ShowId($event)" id={{$index}}>{{Obj.target}}</div>

                    <div >
                        <div class="length" >
                            <div class=" bar_text" ng-style="rateArray[$index]" ng-click="updateComment(number)">
                                <span>{{Obj.targetNegVol}}</span>
                                <span>{{Obj.targetPosiVol}}</span>
                                <span>{{Obj.targetNeutVol}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="length progress">
                        <div ng-style="rate.nagetive" class="progress-bar progress-bar-success" >
                            <span>+</span>
                        </div>
                        <div ng-style="rate.normal" class="progress-bar progress-bar-info" >
                            <span>N</span>
                        </div>
                        <div  ng-style="rate.positive" class="progress-bar progress-bar-warning">
                            <span>-</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background" id="categories" ng-if="showCategory">
                <div class="title">CATEGORIES</div>
                <div class="card"  ng-repeat = "Obj in UniqueCategoryList track by $index">
                    <div class="card-body card-target" type="button">{{Obj.category}}</div>
                    <div class="category_box">
                        <div>
                            <table class="category_card_txt"><tr><td><li>{{details.description}}</li></td>
                            <td>
                                <div class="length_small progress">
                                    <div class="progress-bar progress-bar-success" style="width: 40%;">
                                        <span>{{details.number}}</span>
                                    </div>
                                    <div class="progress-bar progress-bar-info" style="width: 30%;">
                                        <span>{{details.number}}</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 30%;">
                                        <span>{{details.number}}</span>
                                    </div>
                                </div>
                            </td></tr></table>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section>
            <div class='box' id="comments"  ng-if="showComment">
                <div class='wave -one'></div>
                <div class='wave -two'></div>
                <div class='wave -three'></div>
                <div class='comments'>Comments</div>
                <div>{{commentNumber}}</div>
                <div class="comments_text">the first time comments conchange funchting options value is the a best time of my h</div>
            </div>
        </section>
        </container>
    </body>
</html>