<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link href="../bootstrap.css" rel="stylesheet">
        <link href="../bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <img  src="../I2R.png" width= 8% style="margin: 3px 0px -15px 22px" />
        <div class="background "><!-- row-fluid -->
        <!-- <div class="span12"> -->
        <!-- show_demo -->
        <div class="hh">title_showdemo</div>
        <div class="row-fluid">
            <div class="span12">
                <!-- title -->
                <div class="title">TEXT</div>
                <div class="row-fluid">
                    <div class="span10">
                        <!-- textarea -->
                        <textarea class="span12 inputarea" id="content" ng-model="InputComments" placeholder="Enter text to be analyzed..."></textarea>
                        <div class="row-fluid">
                            <div class="span2">
                                <!-- demo -->
                                <select id="uiSel" class="span12 dropbtn button button-glow button-border button-rounded button-primary" ng-model="selectDemo" ng-options="x for (x,y) in demos" ng-change=updateSelected()>
                                    <option value="">Demo</option>
                                </select>
                            </div>
                            <!-- <div ng-repeat="cat in catOutPut"> {{cat.P1}}</div> -->
                            <!-- <div ng-repeat="cat in CatSenPol"> {{cat.polarity}}-{{cat.term}}</div> -->
                            
                        </div>
                    </div>
                    <div class="span2">
                        <!-- analyze button -->
                        <a class="span12 button button-3d button-primary button-rounded analyze_button" ng-click="displayTarget(InputComments)">
                            ANALYZE
                        </a>
                    </div>
                    <!-- <textarea>{{selectDemo.comments}}</textarea> -->
                    
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
<container class="row-fluid"><!-- class = "row-fluid" -->
<nav > <!-- class = "span12" -->
<div class="background" id="target" ng-if="showTarget">
    <div class="title">TARGETS</div>
    <div class="wrapper"  ng-repeat="tar in tarOutPut">
        <!-- <a  data-ng-click="ShowId($event)"> -->
        <div class="card-body card-target" type="button" data-ng-click="ShowId1($event)" id={{$index}}>{{tar[0].term}}</div>
        <div class="blog-body">
            <div class="progress1">
                <div class="bar1 bar-success1" ng-style="{ 'width': (tar.P0/(tar.P0+tar.P1+tar.P2)*100) + '%' }">Negative</div>
                <div class="bar1 bar-warning1" ng-style="{ 'width': (tar.P1/(tar.P0+tar.P1+tar.P2)*100) + '%' }">Positive</div>
                <div class="bar1 bar-success1" ng-style="{ 'width': (tar.P2/(tar.P0+tar.P1+tar.P2)*100) + '%' }">Neural</div>
                
            </div>
        </div>
        <div class="blog-body">
            <div class="progress">
                <div class="bar bar-success" ng-style="{ 'width': (tar.P0/(tar.P0+tar.P1+tar.P2)*100) + '%' }">{{tar.P0}}</div>
                <div class="bar bar-warning" ng-style="{ 'width': (tar.P1/(tar.P0+tar.P1+tar.P2)*100) + '%' }">{{tar.P1}}</div>
                <div class="bar bar-danger"  ng-style="{ 'width': (tar.P2/(tar.P0+tar.P1+tar.P2)*100) + '%' }">{{tar.P2}}</div>
            </div>
            
        </div>
        
        
    </div>
</div>
<div class="background" id="categories" ng-if="showCategory">
    <div class="title">CATEGORIES</div>
    <div class="wrapper"  ng-repeat = "cat in catOutPut">
        <div class="card-body card-target" type="button" data-ng-click="ShowId2($event)" id={{$index}} >{{cat[0].term}}</div>
        <div class="blog-body">
            <div class="progress1">
                <div class="bar1 bar-success1" ng-style="{ 'width': (cat.P0/(cat.P0+cat.P1+cat.P2)*100) + '%' }">Negative</div>
                <div class="bar1 bar-warning1" ng-style="{ 'width': (cat.P1/(cat.P0+cat.P1+cat.P2)*100) + '%' }">Positive</div>
                <div class="bar1 bar-danger1"  ng-style="{ 'width': (cat.P2/(cat.P0+cat.P1+cat.P2)*100) + '%' }">Natural</div>
            </div>
        </div>
        <div class="blog-body">
            <div class="progress">
                <div class="bar bar-success" ng-style="{ 'width': (cat.P0/(cat.P0+cat.P1+cat.P2)*100) + '%' }">{{cat.P0}}</div>
                <div class="bar bar-warning" ng-style="{ 'width': (cat.P1/(cat.P0+cat.P1+cat.P2)*100) + '%' }">{{cat.P1}}</div>
                <div class="bar bar-danger"  ng-style="{ 'width': (cat.P2/(cat.P0+cat.P1+cat.P2)*100) + '%' }">{{cat.P2}}</div>
            </div>
        </div>
        
        
    </div>
</div>
</nav>
<section>
<div class="comment" ng-if="showComment">
    <div class="title" style="text-align:center;">COMMENTS</div>
    <!-- <table bgcolor="#00FF00">1</table> -->
    <div class="card-target" style="margin: 5px 0px 0px 3px">Negative</div><!-- style="color: #62c462" -->
    <div class="blog-body" ng-repeat = "comment in comments.P0Sen track by $index"><li>{{comment}}</li></div>
    <div class="card-target" style="margin: 5px 0px 0px 3px">Positive</div><!-- style="color:#fbb450" -->
    <div class="blog-body" ng-repeat = "comment in comments.P1Sen track by $index"><li>{{comment}}</li></div>
    <div class="card-target" style="margin: 5px 0px 0px 3px">Neural</div><!-- style="color:#ee5f5b" -->
    <div class="blog-body" ng-repeat = "comment in comments.P2Sen track by $index">{{comment}}</div>
</div>
</section>
</container>
</body>
</html>